.priority-selector-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.priority-selector {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 275px;
  border-radius: var(--radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bg);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  overflow: hidden;
}

.priority-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 10px;
  cursor: pointer;
}

.priority-item:hover {
  background-color: var(--hover);
}

.priority-item .tic {
  margin-left: auto;
  color: var(--red);
  visibility: hidden;
}

.priority-item.active .tic {
  visibility: visible;
}

[data-priority="1"] .flag {
  color: var(--priority-1);
}

[data-priority="2"] .flag {
  color: var(--priority-2);
}

[data-priority="3"] .flag {
  color: var(--priority-3);
}

[data-priority="4"] .flag {
  color: grey;
}

/* Themes */
.dark .priority-selector {
  background-color: #282828;
  border: 1px solid #171717;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

.dark .priority-item:hover {
  background-color: #4d4d4d;
}