:root {
  /* general color */
  --primary-red: #db4c3f;
  --secondary-red: #b03d32;
  --primary-gray: #f5f5f5;
  --secondary-gray: #e5e5e5;
  --border-color: #999;
  --form-border-color: #ddd;
  --hover-gray: hsla(0, 0%, 100%, 0.2);
  --current-gray: #eee;
  --sidebar-bg: #fafafa;
  --opaque-bg: rgba(0, 0, 0, 0.5);
  --white: #fff;
  /* text color */
  --white-text: #fff;
  --gray-text: #969696;
  --black-text: #202020;
  --num-text: #aaa;
  /* size */
  --radius: 5px;
  --radius-xl: 10px;
  --topbar-height: 44px;
  --sidebar-width: 285px;
  --project-form-header-height: 55px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Noto, Oxygen-Sans,
    Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  width: 100vw;
  height: 100vh;
}

/* Text */
h1 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

h4 {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
}

/* hidden */
.hidden {
  display: none !important;
}

/* Buttons */
.primary-btn,
.secondary-btn {
  min-width: 68px;
  height: 32px;
  padding-inline: 12px;
  border: solid 1px transparent;
  border-radius: var(--radius);
  font-weight: 700;
}

.primary-btn {
  color: var(--white-text);
  background-color: var(--primary-red);
}

.primary-btn:not([disabled]):hover {
  background-color: var(--secondary-red);
}

.primary-btn[disabled] {
  opacity: 0.3;
}

.secondary-btn {
  color: var(--black-text);
  background-color: var(--primary-gray);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.secondary-btn:hover {
  border-color: var(--border-color);
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
}

.third-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: var(--radius);
  background-color: transparent;
  overflow: hidden;
  font-weight: 700;
}

.third-btn:hover {
  background-color: var(--hover-gray);
}

/* Top Bar */
.top-bar,
.left-side,
.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.top-bar {
  justify-content: space-between;
  width: 100vw;
  height: var(--topbar-height);
  background-color: var(--primary-red);
  padding: 0 42px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  height: 28px;
}

.search-bar > #search-input {
  width: 50%;
  height: 100%;
  padding: 5px 0 5px 34px;
  background-color: var(--hover-gray);
  border: none;
  border-radius: var(--radius);
  outline: none;
  transition: all 0.3s ease;
}

.search-bar > #search-input:hover,
.search-bar > #search-input:focus {
  background-color: var(--white-text);
}

.search-bar > #search-input:focus {
  width: 100%;
}

.search-bar > #search-input::placeholder {
  color: var(--white-text);
}

.search-bar > #search-input:hover::placeholder,
.search-bar > #search-input:focus::placeholder {
  color: var(--gray-text);
}

.search-bar > .search-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

/* Side Bar */
.side-bar,
.project-header,
.project-container,
.project {
  display: flex;
  align-items: center;
}

.side-bar,
.project-container {
  flex-direction: column;
}

.side-bar {
  position: fixed;
  top: var(--topbar-height);
  left: calc(var(--sidebar-width) * -1);
  gap: 30px;
  width: var(--sidebar-width);
  height: calc(100vh - var(--topbar-height));
  padding: 35px 45px 35px 35px;
  background-color: var(--sidebar-bg);
  transition: left 0.3s ease;
}

.side-bar.open {
  left: 0;
}

.side-bar:hover #open-project-form {
  visibility: visible;
}

.user-project-container {
  width: 100%;
}

#arrow-icon {
  transition: transform 0.3s ease;
}

#arrow-icon.rotate {
  transform: rotate(-90deg);
}

.project-container {
  gap: 10px;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  list-style: none;
}

.project-container::-webkit-scrollbar {
  width: 0;
}

#user-projects {
  height: 250px;
  transition: height 0.3s ease;
}

#user-projects.close {
  height: 0;
}

.project,
.project-header {
  gap: 10px;
  width: 100%;
  height: 34px;
  padding: 5px;
  border-radius: var(--radius);
  cursor: pointer;
}
.project.current,
.project:hover {
  background-color: var(--current-gray);
}

.project-name,
.project-header > h3 {
  width: 65%;
}

.project-num {
  color: var(--num-text);
}

.project-num[data-num="0"] {
  visibility: hidden;
}

.project-header > .add-btn {
  visibility: hidden;
  cursor: pointer;
}

.project-header > .add-btn:hover {
  background-color: var(--current-gray);
}

/* Main content */
.main-content,
.todo-container,
.add-task {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  flex-grow: 1;
  min-height: calc(100vh - var(--topbar-height));
  padding: 35px 55px;
  overflow: auto;
  transition: margin-left 0.3s ease;
}

.main-content.reduced {
  margin-left: var(--sidebar-width);
}

.content-header,
.add-task {
  width: min(100%, 70vw);
  margin-bottom: 20px;
}

.add-task {
  flex-direction: row;
  color: var(--gray-text);
}

.add-task:hover {
  color: var(--primary-red);
}

.icon-container {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
}

.add-task:hover .icon-container {
  background-color: var(--primary-red);
}

#add-task-icon::before,
#add-task-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 11px;
  background-color: var(--primary-red);
}

#add-task-icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.add-task:hover #add-task-icon::before,
.add-task:hover #add-task-icon::after {
  background-color: var(--white-text);
}

/* Form project */
.project-form-container,
.form-header,
.form-header > a,
.form-footer {
  display: flex;
  align-items: center;
}

.project-form-container {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 35px;
  background-color: var(--opaque-bg)
}

.project-form {
  width: 400px;
  height: 100%;
  border-radius: var(--radius-xl);
  background-color: var(--white);
}

.project-form h1 {
  font-size: 16px;
}

.project-form label {
  font-size: 14px;
  font-weight: 700;
}

.form-header,
.form-footer {
  height: var(--project-form-header-height);
  padding: 14px 24px;
}

.form-header {
  justify-content: space-between;
  border-top-left-radius: var(--radius-xl);
  border-top-right-radius: var(--radius-xl);
  border-bottom: solid 1px var(--form-border-color);
  background-color: var(--sidebar-bg);
}

.form-footer {
  justify-content: flex-end;
  gap: 10px;
  border-top: solid 1px var(--form-border-color);
}


.field-container,
.form-field {
  display: flex;
  flex-direction: column;
}

.field-container {
  gap: 20px;
  height: calc(100% - var(--project-form-header-height) * 2);
  padding: 20px 24px;
}

.form-field {
  position: relative;
  gap: 10px;
}

.form-input {
  height: 30px;
  padding: 5px;
  border-radius: var(--radius);
  border: solid 1px var(--form-border-color);
  background-color: var(--white);
}

.write {
  box-shadow: 0 0 0 1px #1f60c2, 0 0 0 4px #dceaff;
  border-color: transparent;
}

.form-input:focus {
  border-color: var(--border-color);
}

#color-selector {
  cursor: pointer;
}

.color {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

.color img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.color.current-color img {
  visibility: visible;
}

.color-icon {
  --color: #000;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color);
}

.color-list {
  --height: 300px;
  position: absolute;
  bottom: calc((var(--height) + 5px) * -1);
  width: 100%;
  height: var(--height);
  border-radius: var(--radius-xl);
  border: solid 1px var(--form-border-color);
  overflow-y: scroll;
}

.color-list .color:hover {
  background-color: var(--current-gray);
}

.color-list::-webkit-scrollbar {
  width: 5px;
}

.color-list::-webkit-scrollbar-thumb {
  border-radius: var(--radius-xl);
  background-color: var(--border-color);
}