:root {
  /* general color */
  --primary-red: #db4c3f;
  --secondary-red: #b03d32;
  --primary-gray: #f5f5f5;
  --secondary-gray: #e5e5e5;
  --border-color: #999;
  --task-border-color: #f0f0f0;
  --form-border-color: #ddd;
  --hover-gray: hsla(0, 0%, 100%, 0.2);
  --current-gray: #eee;
  --sidebar-bg: #fafafa;
  --opaque-bg: rgba(0, 0, 0, 0.5);
  --white: #fff;
  /* text color */
  --white-text: #fff;
  --gray-text: #969696;
  --black-text: #202020;
  --num-text: #aaa;
  /* due date picker color */
  --green: #058527;
  --orange: #ad6200;
  --blue: #246fe0;
  --purple: #692fc2;
  --grey: #808080;
  --grey-day-hover: #f1f1f1;
  --red: #d1453b;
  /* size */
  --radius-xs: 3px;
  --radius: 5px;
  --radius-xl: 10px;
  --topbar-height: 44px;
  --sidebar-width: 285px;
  --project-form-header-height: 55px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Noto, Oxygen-Sans,
    Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Text */
h1 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

h4 {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
}

/* hidden */
.hidden,
[hidden] {
  display: none !important;
}

/* list */
ul {
  list-style: none;
}

/* Buttons */
.primary-btn,
.secondary-btn {
  min-width: 68px;
  height: 32px;
  padding-inline: 12px;
  border: solid 1px transparent;
  border-radius: var(--radius);
  font-weight: 700;
}

.primary-btn {
  color: var(--white-text);
  background-color: var(--primary-red);
}

.primary-btn:not([disabled]):hover {
  background-color: var(--secondary-red);
}

.primary-btn[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

.secondary-btn {
  color: var(--black-text);
  background-color: var(--primary-gray);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.secondary-btn:hover {
  border-color: var(--border-color);
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
}

.third-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: var(--radius);
  background-color: transparent;
  color: var(--white);
  overflow: hidden;
  font-weight: 700;
  transition-duration: .3s;
  transition-property: color,background-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.third-btn:hover {
  background-color: var(--hover-gray);
}

/* Top Bar */
.top-bar,
.left-side,
.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.top-bar {
  justify-content: space-between;
  width: 100vw;
  height: var(--topbar-height);
  background-color: var(--primary-red);
  padding: 0 42px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  height: 28px;
  transition: width 0.3s ease;
  color: var(--white-text);
}

.search-bar > #search-input {
  width: 100%;
  height: 100%;
  padding: 5px 0 5px 34px;
  background-color: var(--hover-gray);
  border: none;
  border-radius: var(--radius);
  outline: none;
  transition: background 0.3s ease;
}

.search-bar:hover > #search-input,
.search-bar > #search-input:focus {
  background-color: var(--white-text);
}

.search-bar:focus-within {
  width: 400px;
}

.search-bar:focus-within,
.search-bar:hover {
  color: #000;
}

.search-bar > #search-input::placeholder {
  color: var(--white-text);
}

.search-bar:hover > #search-input::placeholder,
.search-bar > #search-input:focus::placeholder {
  color: var(--gray-text);
}

.search-bar > #search-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.quick-add-btn {
  color: var(--white-text);
}

/* Side Bar */
.side-bar,
.project-header,
.project-container,
.project {
  display: flex;
  align-items: center;
}

.side-bar,
.project-container {
  flex-direction: column;
}

.side-bar {
  position: fixed;
  top: var(--topbar-height);
  left: calc(var(--sidebar-width) * -1);
  gap: 30px;
  width: var(--sidebar-width);
  height: calc(100vh - var(--topbar-height));
  padding: 35px 45px 35px 35px;
  background-color: var(--sidebar-bg);
  transition: left 0.3s ease;
}

.side-bar.open {
  left: 0;
}

.side-bar:hover #open-project-form {
  visibility: visible;
}

.user-project-container {
  width: 100%;
}

#arrow-icon {
  transition: transform 0.3s ease;
}

#arrow-icon.rotate {
  transform: rotate(-90deg);
}

#open-project-form {
  color: #666;
}

#open-project-form:hover {
  color: #1a1a1a;
}

.project-container {
  gap: 10px;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}

#user-projects {
  padding-right: 5px;
  width: calc(100% + 10px);
  height: 250px;
  transition: height 0.3s ease;
}

#user-projects.close {
  overflow: hidden;
  height: 0;
}

#user-projects .project {
  max-width: 205px;
}

.project,
.project-header {
  gap: 10px;
  width: 100%;
  height: 34px;
  padding: 5px;
  border-radius: var(--radius);
  cursor: pointer;
}
.project.current,
.project:hover {
  background-color: var(--current-gray);
}

.project-name,
.project-header > h3 {
  width: 65%;
}

.project-num::before {
  content: attr(data-num);
  color: var(--num-text);
}

.project-num[data-num="0"] {
  visibility: hidden;
}

.project-header > #open-project-form {
  visibility: hidden;
  cursor: pointer;
}

.project-header > #open-project-form:hover {
  background-color: var(--current-gray);
}

/* Main content */
.main-content,
.task-container,
.main-header,
.add-task {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  position: relative;
  flex-grow: 1;
  min-height: 380px;
  max-height: calc(100vh - var(--topbar-height));
  padding-bottom: 120px;
  overflow: hidden auto;
  transition: margin-left 0.3s ease;
}

.main-content.reduced {
  margin-left: var(--sidebar-width);
}

.task-container {
  width: 100%;
  padding-inline: 55px;
}

.task-container:not(.completed) .task:hover .task-action {
  opacity: 1;
}

.task-container.completed  .task-checkbox {
  background-color: gray;
  color: var(--white-text);
}

.task-container.completed #tic-icon {
  opacity: 1;
}

.task-container.completed .task-name {
  text-decoration: line-through;
  color: gray;
}

.task-container.completed .task-action {
  opacity: 0;
}

.task-container.completed .task:hover .task-action:last-child {
  opacity: 1;
}

.task-container > * {
  width: min(100%, 800px);
}

.main-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 55px;
  padding-top: 35px;
  background-color: var(--white);
  z-index: 1;
}

.main-header-content {
  display: flex;
  align-items: center;
  gap: 16px;
  width: min(100%, 800px);
  height: 100%;
  padding-bottom: 8px;
}

.main-header.scrolled .main-header-content {
  border-bottom: solid 1px var(--task-border-color);
}

.main-header-content .title {
  margin-right: auto;
}

.project-action {
  color: gray;
}

.project-action.invisible {
  visibility: hidden;
}

.project-action:hover {
  background-color: var(--current-gray);
  color: var(--black-text);
}

.add-task {
  flex-direction: row;
  width: min(100%, 800px);
  padding: 8px 0;
  color: var(--gray-text);
}

.add-task:hover {
  color: var(--primary-red);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  color: var(--primary-red);
  border: solid 2px transparent;
}

.icon-container > #add-task-icon {
  transform: scale(0.864);
}

.add-task:hover .icon-container {
  background-color: var(--primary-red);
  color: var(--white-text);
}

/* Form project */
.project-form-container,
.form-header,
.form-header > a,
.form-footer {
  display: flex;
  align-items: center;
}

.project-form-container {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 35px;
  background-color: var(--opaque-bg);
  z-index: 2;
}

.project-form {
  width: 400px;
  height: 100%;
  border-radius: var(--radius-xl);
  background-color: var(--white);
}

.project-form h1 {
  font-size: 16px;
}

.project-form label {
  font-size: 14px;
  font-weight: 700;
}

.form-header,
.form-footer {
  height: var(--project-form-header-height);
  padding: 14px 24px;
}

.form-header {
  justify-content: space-between;
  border-top-left-radius: var(--radius-xl);
  border-top-right-radius: var(--radius-xl);
  border-bottom: solid 1px var(--form-border-color);
  background-color: var(--sidebar-bg);
}

.form-footer {
  justify-content: flex-end;
  gap: 10px;
  border-top: solid 1px var(--form-border-color);
}


.field-container,
.form-field {
  display: flex;
  flex-direction: column;
}

.field-container {
  gap: 20px;
  height: calc(100% - var(--project-form-header-height) * 2);
  padding: 20px 24px;
}

.form-field {
  position: relative;
  gap: 10px;
}

.form-input {
  height: 30px;
  padding: 5px;
  border-radius: var(--radius);
  border: solid 1px var(--form-border-color);
  background-color: var(--white);
}

.write {
  box-shadow: 0 0 0 1px #1f60c2, 0 0 0 4px #dceaff;
  border-color: transparent;
}

.form-input:focus {
  border-color: var(--border-color);
}

#color-selector {
  cursor: pointer;
}

.color {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

.color .color-tic-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  visibility: hidden;
  color: var(--black-text);
}

.color.current-color .color-tic-icon {
  visibility: visible;
}

.color-icon {
  --color: #000;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color);
}

.color-list {
  --height: 300px;
  position: absolute;
  bottom: calc((var(--height) + 5px) * -1);
  width: 100%;
  height: var(--height);
  border-radius: var(--radius-xl);
  border: solid 1px var(--form-border-color);
  background-color: var(--white);
  z-index: 3;
  overflow-y: scroll;
}

.color-list .color:hover {
  background-color: var(--current-gray);
}

/* Task */
.task,
.task-due-date {
  display: flex;
  align-items: center;
}

.task {
  position: relative;
  align-items: stretch;
  width: min(100%, 800px);
  border-bottom: solid 1px var(--task-border-color);
  cursor: pointer;
}

.task-checkbox,
.task-checkbox-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-checkbox-btn {
  width: 24px;
  height: 24px;
  border: none;
  margin: 8px 6px 0 -3px;
  background-color: transparent;
  overflow: hidden;
  color: grey;
  cursor: pointer;
}

.task-checkbox-btn.checked .task-checkbox {
  animation: check-animation 0.2s cubic-bezier(1,0,0,1);
}

@keyframes check-animation {
  0% {
    transform: scale(1);
  }
  100% {
    background-color: grey;
    color: white;
    transform: scale(1.2);
  }
}

#tic-icon {
  opacity: 0;
  transition: opacity 0.15s cubic-bezier(.4,0,1,1);
}

.task-checkbox-btn:hover #tic-icon {
  opacity: 1;
}

.task-checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 1px grey;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-grow: 1;
  padding-block: 8px;
  margin-right: 30px;
}

.task-description {
  margin-bottom: 3px;
  color: #808080;
}

.task-due-date {
  font-size: 12px;
  line-height: 12px;
  color: var(--grey);
}

.task-due-date > #due-date-icon {
  margin: 0 2px 0 0;
}

.task-action-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-right: -30px;
}

.task-action {
  width: 24px;
  height: 24px;
  color: grey;
  cursor: pointer;
  opacity: 0;
}

.task-action.active {
  opacity: 1;
}

.task-action:hover {
  color: var(--black-text);
  background-color: var(--current-gray);
}

/* Task Editor */
.task-editor,
.task-editor-container,
.task-editor-extra-field,
.task-editor-extra-field-btn-container,
.task-editor-btn,
.task-editor-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.task-editor {
  flex-direction: column;
  width: 100%;
  padding-top: 4px;
}

.task-editor > *,
.task-editor-container > * {
  width: min(100%, 800px);
}

.task-editor-container {
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border-radius: var(--radius-xl);
  border: solid 1px var(--secondary-gray);
}

.task-editor-container:focus-within {
  border-color: #ccc;
}

.task-editor-field {
  border: none;
}

.task-name-input {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.task-description-input {
  --height: 36px;
  resize: none;
  line-height: 18px;
  font-size: 13px;
  font-weight: 400;
  height: clamp(40px, var(--height) + 4px, 202px);
  padding: 1px;
  overflow: auto;
}

.task-editor-extra-field {
  justify-content: space-between;
  height: 28px;
}

.task-editor-extra-field-btn-container {
  gap: 8px;
}

.task-editor-btn {
  align-items: center;
  gap: 4px;
  height: 28px;
  padding-inline: 8px;
  border-radius: var(--radius);
  border: solid 1px #ccc;
  background-color: transparent;
  cursor: pointer;
  color: #555;
}

.task-editor-btn svg-loader {
  width: 16px;
  height: 16px;
}

.task-editor-btn:hover {
  background-color: var(--current-gray);
}

.task-editor-btn-text {
  font-size: 13px;
}

.task-editor-footer {
  justify-content: flex-end;
}

/* Load screen */
.load-screen {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 10;
  opacity: 1;
  transition: opacity ;
}

.load-screen.start-animation {
  animation: fade-out 1s cubic-bezier(.4,0,1,1);
}

.loader {
  animation: spin 1s linear infinite;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Scroll Bar */
:is(.project-container, .color-list, .project-picker-list)::-webkit-scrollbar {
  width: 5px;
}

:is(.project-container, .color-list, .project-picker-list)::-webkit-scrollbar-thumb {
  border-radius: var(--radius-xl);
  background-color: var(--border-color);
}

/* Project Picker */
.project-picker-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.project-picker,
.project-picker-list {
  display: flex;
  flex-direction: column;
}

.project-picker {
  position: absolute;
  left: 0;
  width: 275px;
  border-radius: var(--radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

.project-picker-arrow {
  position: absolute;
  left: 50%;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-bottom-color: #ddd;
  margin-top: -12px;
  transform: translateX(-50%);
}

.project-picker-arrow::before {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-bottom-color: var(--white);
  left: -6px;
  top: -5px;
}

.project-picker-arrow.reverse {
  top: 100%;
  margin-top: 0;
  transform: rotate(180deg) translateX(50%);
}

.project-picker-header {
  display: flex;
  padding: 4px 10px;
  border-bottom: 1px solid var(--form-border-color);
}

.project-picker-search {
  line-height: 24px;
  flex-grow: 1;
  border: none;
  outline: none;
}

.project-picker-list {
  max-height: 300px;
  overflow: hidden auto;
}

.project-picker-item-container {
  flex-grow: 1;
}

.project-picker-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 4px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.project-picker-item.current .project-picker-item-tic {
  opacity: 1;
}

.project-picker-item:hover {
  background-color: var(--current-gray);
}

.project-picker-item span {
  line-height: 24px;
  text-align: left;
  flex-grow: 1;
}

.project-picker-item-tic {
  color: var(--primary-red);
  opacity: 0;
}

.project-picker-empty > span {
  display: inline-block;
  font-size: 13px;
  padding: 5px 10px;
  color: gray;
}

.project-picker-empty .project-picker-item {
  font-weight: 600;
  padding: 4px 10px;
  margin-bottom: 4px;
  color: var(--black-text);
}

/* Due Date Picker */
.due-date-picker-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.due-date-picker,
.date-suggestions,
.date-picker {
  display: flex;
  flex-direction: column;
}

.due-date-picker {
  position: absolute;
  width: 250px;
  max-height: 600px;
  border-radius: var(--radius);
  color: var(--black-text);
  background-color: var(--white);
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%), 0 0 1px 0 rgb(0 0 0 / 30%);
  overflow: hidden;
}

.date-input,
.date-preview-content,
.date-preview-date {
  display: flex;
}

.date-input {
  padding: 8px 13px;
}

.date-input input {
  line-height: 24px;
  width: 100%;
  border: none;
  padding: 1px 2px;
  color: var(--black-text);
}

.date-input svg-loader {
  cursor: pointer;
}

.date-preview {
  padding: 8px 13px;
  border-top: 1px solid var(--form-border-color);
}

.date-preview-content {
  gap: 10px;
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
}

.date-preview-content-icon {
  color: var(--grey);
}

.date-preview-content-date {
  flex-direction: column;
  flex: 1;
}

.date-preview-info {
  display: flex;
  justify-content: space-between;
}

.date-preview-info-time {
  font-weight: 400;
}

.date-preview-tasks {
  color: var(--border-color);
  font-size: 10px;
}

.date-suggestions {
  padding-block: 4px;
  border-block: solid 1px var(--form-border-color);
}

.date-suggestions-item {
  display: flex;
  padding: 4px 10px;
  border: none;
  background-color: var(--white);
  cursor: pointer;
}

.date-suggestions-item:hover {
  background-color: var(--current-gray);
}

.date-suggestions-icon {
  margin-right: 10px;
}

.date-suggestions-label {
  flex-grow: 1;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}

.date-suggestions-weekday {
  color: var(--grey);
  line-height: 24px;
}

#date-suggestions-icon-today {
  color: var(--green);
}

#date-suggestions-icon-tomorrow {
  color: var(--orange);
}

#date-suggestions-icon-weekend {
  color: var(--blue);
}

#date-suggestions-icon-next-week {
  color: var(--purple);
}

#date-suggestions-icon-no-date {
  color: var(--grey);
}

.date-picker-header,
.date-picker-header-action-container,
.date-picker-header-action {
  display: flex;
  align-items: center;
}

.date-picker-header {
  justify-content: space-between;
  flex-shrink: 0;
  padding: 4px 10px 4px 16px;
}

.date-picker-header-month {
  font-weight: 700;
}

.date-picker-header-action-container {
  gap: 8px;
}

.date-picker-header-action {
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: var(--radius);
  background-color: var(--white);
  color: var(--grey);
  cursor: pointer;
}

.date-picker-header-action:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.date-picker-header-action:enabled:hover {
  background-color: var(--current-gray);
  color: var(--black-text);
}

#current-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px var(--grey);
}

.date-picker-header-action:enabled:hover #current-icon {
  border-color: var(--black-text);
}

#next-icon {
  transform: rotate(180deg);
}

.date-picker-month-list-header {
  position: relative;
  flex-shrink: 0;
  height: 25px;
  border-bottom: solid 1px transparent;
}

.date-picker-month-list-header.border {
  border-bottom-color: var(--form-border-color);
}

.task-counter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 1;
}

.task-counter-info {
  flex: 1;
  text-align: center;
  font-size: 10px;
  padding-top: 2px;
  color: var(--grey);
}

.date-info {
  font-size: 10px;
}

.counter-info {
  font-size: 10px;
  font-weight: 700;
}

.task-counter-bar {
  display: flex;
  justify-content: center;
  height: 3px;
}

.task-counter-bar span {
  display: inline-block;
  width: 8px;
  height: 3px;
  background-color: #b8b8b8;
}

.task-counter-bar span:first-child {
  border-radius: 2px 0 0 2px;
}

.task-counter-bar span:last-child {
  border-radius: 0 2px 2px 0;
}

.date-picker-week-day-list {
  display: flex;
  font-size: 10px;
  padding: 0 10px;
  color: var(--grey);
}

.week-day {
  flex: 1;
  font-size: 10px;
  line-height: 24px;
  text-align: center;
}

.date-picker-month-list {
  position: relative;
  height: 180px;
  margin-right: -17px;
  overflow: hidden scroll;
}

.date-picker-calendar {
  display: flex;
  flex-direction: column;
}

.date-picker-calendar-header {
  font-size: 12px;
  font-weight: 700;
  padding: 8px 0;
  border-bottom: solid 1px var(--form-border-color);
  margin: 0 16px 4px;
}

.date-picker-calendar:first-child .date-picker-calendar-header {
  display: none;
}

.date-picker-calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px 0;
  padding: 0 10px;
}

.date-picker-calendar-grid > * {
  line-height: 24px;
}

.date-picker-calendar-day,
.date-picker-calendar-day-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-picker-calendar-day {
  width: 100%;
  background-color: var(--white);
  border: none;
}

.date-picker-calendar-day:not(.empty, .past) {
  cursor: pointer;
}

.date-picker-calendar-day-bg {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  color: var(--grey);
  background-color: transparent;
  transition: background-color .3s cubic-bezier(.4,0,.2,1),
    color .3s cubic-bezier(.4,0,.2,1);
}

.date-picker-calendar-day.selected .date-picker-calendar-day-bg {
  font-weight: 700;
  color: var(--white-text);
  background-color: var(--red);
}

.date-picker-calendar-day:not(.empty, .past, .selected):hover .date-picker-calendar-day-bg {
  color: var(--black-text);
  background-color: var(--grey-day-hover);
}

.date-picker-calendar-day span {
  margin-top: -1px;
}

.date-picker-calendar-day.today span {
  font-weight: 700;
  color: var(--red) !important;
}

.date-picker-calendar-day.selected.today span {
  color: var(--white-text) !important;
}

.date-picker-calendar-day.empty,
.date-picker-calendar-day.past {
  cursor: default;
}

.date-picker-calendar-day.empty {
  opacity: 0;
}

.date-picker-calendar-day.past {
  opacity: 0.15;
}

.has-task {
  position: relative;
}

.date-picker-calendar-day.has-task::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--grey);
}

.date-picker-calendar-day.has-task.selected::before {
  background-color: var(--white);
}

.date-actions {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  border-top: solid 1px var(--form-border-color);
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
}

.date-actions-add-time,
.date-actions-save,
.date-actions-time-label {
  color: var(--red);
  cursor: pointer;
}

.date-actions-save {
  border: none;
  background-color: transparent;
  font-weight: 600;
}

.date-actions-time {
  display: flex;
  align-items: stretch;
  border: solid 1px #ddd;
  border-radius: var(--radius-xs);
  line-height: 22px;
}

.date-actions-time-label,
.date-actions-time-remove {
  padding: 0 4px;
}

.date-actions-time-label:hover,
.date-actions-time-remove:hover {
  background-color: var(--grey-day-hover);
}

.date-actions-time-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey);
  border-left: solid 1px #ddd;
  cursor: pointer;
}

/* Time picker */
.time-picker-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.time-picker,
.time-picker-field,
.time-picker-label {
  display: flex;
  align-items: center;
}

.time-picker {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 225px;
  border-radius: var(--radius-xs);
  background-color: var(--white);
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%), 0 0 1px 0 rgb(0 0 0 / 30%);
}

.time-picker > * {
  width: 100%;
}

.time-picker-field {
  flex-direction: row-reverse;
  gap: 4px;
  padding: 8px 10px;
}

.time-picker-field > * {
  flex: 1;
}

.time-picker-label {
  justify-content: space-between;
}

.time-picker-input {
  width: 0;
  line-height: 22px;
  padding-inline: 4px 20px;
  border: solid 1px #ccc;
  border-radius: var(--radius-xs);
}

.time-picker-input.invalid-time + .time-picker-label .warning-icon {
  visibility: visible;
}

.time-picker-input::placeholder {
  color: #ccc;
}

.warning-icon {
  visibility: hidden;
  color: var(--red);
}

.time-picker-footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  border-top: solid 1px var(--form-border-color);
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
}

.time-picker-footer > button {
  color: var(--red);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.time-picker-footer > button[type="submit"] {
  font-weight: 700;
}

.time-picker-footer > button[type="submit"]:disabled {
  color: #aaa;
  opacity: 0.3;
  cursor: default;
}

/* Delete warning */
.delete-warning-container,
.delete-warning {
  display: flex;
  flex-direction: column;
}

.delete-warning-container {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 32px;
  padding-top: 13vh;
  background-color: var(--opaque-bg);
  z-index: 3;
}

.delete-warning {
  width: min(100%, 450px);
  max-height: 100%;
  border-radius: var(--radius-xl);
  background-color: var(--white);
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 16%);
}

.delete-warning > * {
  flex-grow: 1;
}

.delete-warning > header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  padding-left: 16px;
}

.delete-warning-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: var(--grey);
}

.delete-warning-close:hover {
  background-color: var(--current-gray);
  color: var(--black-text);
}

.delete-warning-content {
  padding: 16px;
  padding-bottom: 32px;
}

.delete-warning-name {
  font-weight: 700;
}

.delete-warning > footer {
  border: none;
}
/* Quick add */
.quick-add-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 32px;
  z-index: 3;
  animation: modal-appear 0.1s cubic-bezier(.165,.84,.44,1) both;
}

.quick-add-container.disappear {
  animation: modal-disappear 0.1s cubic-bezier(.165,.84,.44,1) both;
}

@keyframes modal-appear {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

.quick-add {
  width: min(100%, 550px);
  padding: 16px;
  margin-top: calc(13vh - 32px);
  background-color: var(--white);
  box-shadow: 0 15px 50px 0 rgb(0 0 0 / 35%);
}