:root {
  /* general color */
  --primary-red: #db4c3f;
  --secondary-red: #b03d32;
  --primary-gray: #f5f5f5;
  --secondary-gray: #e5e5e5;
  --border-color: #999;
  --task-border-color: #f0f0f0;
  --form-border-color: #ddd;
  --hover-gray: hsla(0, 0%, 100%, 0.2);
  --current-gray: #eee;
  --sidebar-bg: #fafafa;
  --opaque-bg: rgba(0, 0, 0, 0.5);
  --white: #fff;
  /* text color */
  --white-text: #fff;
  --gray-text: #969696;
  --black-text: #202020;
  --num-text: #aaa;
  /* size */
  --radius: 5px;
  --radius-xl: 10px;
  --topbar-height: 44px;
  --sidebar-width: 285px;
  --project-form-header-height: 55px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Noto, Oxygen-Sans,
    Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-size: 13px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Text */
h1 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

h4 {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
}

/* hidden */
.hidden {
  display: none !important;
}

/* list */
ul {
  list-style: none;
}

/* Buttons */
.primary-btn,
.secondary-btn {
  min-width: 68px;
  height: 32px;
  padding-inline: 12px;
  border: solid 1px transparent;
  border-radius: var(--radius);
  font-weight: 700;
}

.primary-btn {
  color: var(--white-text);
  background-color: var(--primary-red);
}

.primary-btn:not([disabled]):hover {
  background-color: var(--secondary-red);
}

.primary-btn[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

.secondary-btn {
  color: var(--black-text);
  background-color: var(--primary-gray);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.secondary-btn:hover {
  border-color: var(--border-color);
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
}

.third-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: var(--radius);
  background-color: transparent;
  overflow: hidden;
  font-weight: 700;
}

.third-btn:hover {
  background-color: var(--hover-gray);
}

/* Top Bar */
.top-bar,
.left-side,
.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.top-bar {
  justify-content: space-between;
  width: 100vw;
  height: var(--topbar-height);
  background-color: var(--primary-red);
  padding: 0 42px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  height: 28px;
  transition: width 0.3s ease;
  color: var(--white-text);
}

.search-bar > #search-input {
  width: 100%;
  height: 100%;
  padding: 5px 0 5px 34px;
  background-color: var(--hover-gray);
  border: none;
  border-radius: var(--radius);
  outline: none;
  transition: background 0.3s ease;
}

.search-bar:hover > #search-input,
.search-bar > #search-input:focus {
  background-color: var(--white-text);
}

.search-bar:focus-within {
  width: 400px;
}

.search-bar:focus-within,
.search-bar:hover {
  color: #000;
}

.search-bar > #search-input::placeholder {
  color: var(--white-text);
}

.search-bar:hover > #search-input::placeholder,
.search-bar > #search-input:focus::placeholder {
  color: var(--gray-text);
}

.search-bar > #search-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.top-bar-add-btn {
  color: var(--white-text);
}

/* Side Bar */
.side-bar,
.project-header,
.project-container,
.project {
  display: flex;
  align-items: center;
}

.side-bar,
.project-container {
  flex-direction: column;
}

.side-bar {
  position: fixed;
  top: var(--topbar-height);
  left: calc(var(--sidebar-width) * -1);
  gap: 30px;
  width: var(--sidebar-width);
  height: calc(100vh - var(--topbar-height));
  padding: 35px 45px 35px 35px;
  background-color: var(--sidebar-bg);
  transition: left 0.3s ease;
}

.side-bar.open {
  left: 0;
}

.side-bar:hover #open-project-form {
  visibility: visible;
}

.user-project-container {
  width: 100%;
}

#arrow-icon {
  transition: transform 0.3s ease;
}

#arrow-icon.rotate {
  transform: rotate(-90deg);
}

#open-project-form {
  color: #666;
}

#open-project-form:hover {
  color: #1a1a1a;
}

.project-container {
  gap: 10px;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}

#user-projects {
  padding-right: 5px;
  width: calc(100% + 10px);
  height: 250px;
  transition: height 0.3s ease;
}

#user-projects.close {
  overflow: hidden;
  height: 0;
}

#user-projects .project {
  max-width: 205px;
}

.project,
.project-header {
  gap: 10px;
  width: 100%;
  height: 34px;
  padding: 5px;
  border-radius: var(--radius);
  cursor: pointer;
}
.project.current,
.project:hover {
  background-color: var(--current-gray);
}

.project-name,
.project-header > h3 {
  width: 65%;
}

.project-num {
  color: var(--num-text);
}

.project-num[data-num="0"] {
  visibility: hidden;
}

.project-header > #open-project-form {
  visibility: hidden;
  cursor: pointer;
}

.project-header > #open-project-form:hover {
  background-color: var(--current-gray);
}

/* Main content */
.main-content,
.task-container,
.add-task {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  position: relative;
  flex-grow: 1;
  min-height: 380px;
  max-height: calc(100vh - var(--topbar-height));
  padding-bottom: 120px;
  overflow: hidden auto;
  transition: margin-left 0.3s ease;
}

.main-content.reduced {
  margin-left: var(--sidebar-width);
}

.task-container {
  width: 100%;
  padding-inline: 55px;
}

.task-container.completed  .task-checkbox{
  background-color: gray;
  color: var(--white-text);
}

.task-container.completed #tic-icon {
  opacity: 1;
}

.task-container.completed .task-name {
  text-decoration: line-through;
  color: gray;
}

.task-container.completed .task-action {
  opacity: 0;
}

.task-container.completed .task-action:last-child {
  opacity: 1;
}

.task-container > * {
  width: min(100%, 800px);
}

.main-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 55px;
  padding-top: 35px;
  background-color: var(--white);
  z-index: 1;
}

.main-header .title {
  width: min(100%, 800px);
  padding-bottom: 8px;
  margin: auto;
}

.main-header.scrolled .title {
  border-bottom: solid 1px var(--task-border-color);
}

.add-task {
  flex-direction: row;
  width: min(100%, 800px);
  padding: 8px 0;
  color: var(--gray-text);
}

.add-task:hover {
  color: var(--primary-red);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  color: var(--primary-red);
  border: solid 2px transparent;
}

.icon-container > #add-task-icon {
  transform: scale(0.864);
}

.add-task:hover .icon-container {
  background-color: var(--primary-red);
  color: var(--white-text);
}

/* Form project */
.project-form-container,
.form-header,
.form-header > a,
.form-footer {
  display: flex;
  align-items: center;
}

.project-form-container {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 35px;
  background-color: var(--opaque-bg);
  z-index: 2;
}

.project-form {
  width: 400px;
  height: 100%;
  border-radius: var(--radius-xl);
  background-color: var(--white);
}

.project-form h1 {
  font-size: 16px;
}

.project-form label {
  font-size: 14px;
  font-weight: 700;
}

.form-header,
.form-footer {
  height: var(--project-form-header-height);
  padding: 14px 24px;
}

.form-header {
  justify-content: space-between;
  border-top-left-radius: var(--radius-xl);
  border-top-right-radius: var(--radius-xl);
  border-bottom: solid 1px var(--form-border-color);
  background-color: var(--sidebar-bg);
}

.form-footer {
  justify-content: flex-end;
  gap: 10px;
  border-top: solid 1px var(--form-border-color);
}


.field-container,
.form-field {
  display: flex;
  flex-direction: column;
}

.field-container {
  gap: 20px;
  height: calc(100% - var(--project-form-header-height) * 2);
  padding: 20px 24px;
}

.form-field {
  position: relative;
  gap: 10px;
}

.form-input {
  height: 30px;
  padding: 5px;
  border-radius: var(--radius);
  border: solid 1px var(--form-border-color);
  background-color: var(--white);
}

.write {
  box-shadow: 0 0 0 1px #1f60c2, 0 0 0 4px #dceaff;
  border-color: transparent;
}

.form-input:focus {
  border-color: var(--border-color);
}

#color-selector {
  cursor: pointer;
}

.color {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

.color .color-tic-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  visibility: hidden;
  color: var(--black-text);
}

.color.current-color .color-tic-icon {
  visibility: visible;
}

.color-icon {
  --color: #000;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color);
}

.color-list {
  --height: 300px;
  position: absolute;
  bottom: calc((var(--height) + 5px) * -1);
  width: 100%;
  height: var(--height);
  border-radius: var(--radius-xl);
  border: solid 1px var(--form-border-color);
  background-color: var(--white);
  z-index: 3;
  overflow-y: scroll;
}

.color-list .color:hover {
  background-color: var(--current-gray);
}

/* Task */
.task,
.task-due-date {
  display: flex;
  align-items: center;
}

.task {
  position: relative;
  align-items: stretch;
  width: min(100%, 800px);
  border-bottom: solid 1px var(--task-border-color);
}

.task:hover .task-action-container {
  opacity: 1;
}

.task-checkbox,
.task-checkbox-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-checkbox-btn {
  width: 24px;
  height: 24px;
  border: none;
  margin: 8px 6px 0 -3px;
  background-color: transparent;
  overflow: hidden;
  color: grey;
}

#tic-icon {
  opacity: 0;
  transition: opacity 0.15s cubic-bezier(.4,0,1,1);
}

.task-checkbox-btn:hover #tic-icon {
  opacity: 1;
}

.task-checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 1px grey;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-grow: 1;
  padding-block: 8px;
  margin-right: 30px;
}

.task-description {
  margin-bottom: 3px;
  color: #808080;
}

.task-due-date {
  font-size: 12px;
  line-height: 12px;
}

.task-due-date > #due-date-icon {
  margin: 0 2px 0 0;
}

.task-action-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-right: -30px;
  opacity: 0;
}

.task-action {
  width: 24px;
  height: 24px;
  color: grey;
}

.task-action:hover {
  color: var(--black-text);
  background-color: var(--current-gray);
}

/* Task Editor */
.task-editor,
.task-editor-container,
.task-editor-extra-field,
.task-editor-extra-field-btn-container,
.task-editor-btn,
.task-editor-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.task-editor {
  flex-direction: column;
  width: 100%;
  padding-top: 4px;
}

.task-editor > *,
.task-editor-container > * {
  width: min(100%, 800px);
}

.task-editor-container {
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border-radius: var(--radius-xl);
  border: solid 1px var(--secondary-gray);
}

.task-editor-container:focus-within {
  border-color: #ccc;
}

.task-editor-field {
  border: none;
}

#task-name-input {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

#task-description-input {
  --height: 36px;
  resize: none;
  line-height: 18px;
  font-size: 13px;
  font-weight: 400;
  height: clamp(40px, var(--height) + 4px, 202px);
  padding: 1px;
  overflow: auto;
}

.task-editor-extra-field {
  justify-content: space-between;
  height: 28px;
}

.task-editor-extra-field-btn-container {
  gap: 8px;
}

.task-editor-btn {
  align-items: center;
  gap: 4px;
  height: 28px;
  padding-inline: 8px;
  border-radius: var(--radius);
  border: solid 1px #ccc;
  background-color: transparent;
  cursor: pointer;
  color: #555;
}

.task-editor-btn svg-loader {
  width: 16px;
  height: 16px;
}

.task-editor-btn:hover {
  background-color: var(--current-gray);
}

.task-editor-btn-text {
  font-size: 13px;
  color: #555;
}

.project-picker-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-picker,
.project-picker-list {
  display: flex;
  flex-direction: column;
}

.project-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  border-radius: var(--radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

.project-picker::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -12px;
  height: 12px;
  width: 12px;
  border-top: 1px solid var(--form-border-color);
  border-left: 1px solid var(--form-border-color);
  background-color: var(--white);
  transform: translate(-50%, 50%) rotate(45deg);
}

.project-picker-header {
  display: flex;
  padding: 4px 10px;
  border-bottom: 1px solid var(--form-border-color);
}

.project-picker-search {
  line-height: 24px;
  flex-grow: 1;
  border: none;
  outline: none;
}

.project-picker-list {
  max-height: 300px;
  overflow: hidden auto;
}

.project-picker-item {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  padding: 4px 10px;
  cursor: pointer;
}

.project-picker-item.current .project-picker-item-tic {
  opacity: 1;
}

.project-picker-item:hover {
  background-color: var(--current-gray);
}

.project-picker-item span {
  line-height: 24px;
  flex-grow: 1;
}

.project-picker-item-tic {
  color: var(--primary-red);
  opacity: 0;
}

.task-editor-footer {
  justify-content: flex-end;
}

/* Load screen */
.load-screen {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 5;
  opacity: 1;
  transition: opacity ;
}

.load-screen.start-animation {
  animation: fade-out 1s cubic-bezier(.4,0,1,1);
}

.loader {
  animation: spin 1s linear infinite;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Scroll Bar */
:is(.project-container, .color-list, .project-picker-list)::-webkit-scrollbar {
  width: 5px;
}

:is(.project-container, .color-list, .project-picker-list)::-webkit-scrollbar-thumb {
  border-radius: var(--radius-xl);
  background-color: var(--border-color);
}